version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
      - '4466:4466'
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: postgres
            host: ec2-54-92-174-171.compute-1.amazonaws.com
            database: d1qoln8ln96bob
            schema: public
            user: cprkxewjkxnfqi
            password: fc1bda547128667023a911574ac4648ee3822adf548b3d242f1e0d1f72b3e926
            ssl: true
            rawAccess: true
            port: '5432'
            migrations: true
